.card{
    /* border: 2px solid black; */
    width: 350px;
    height: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 40px;

    background-color: rgb(228, 219, 192);
}
.image{
    height: 250px;
    width: 300px;
}
#heading{
    /* margin: 10px; */
    /* font-size: 300%; */
}
#btn{
    padding: 20px;
    background-color: rgb(225, 173, 1);
    border: none;
    color: whitesmoke;
    border-radius: 10px ;
}
#btn:hover{
box-shadow: 0px 0px 10px;
color: black;
}
